html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: Verdana, sans-serif;
  overflow: hidden;
}

a {
  color: #fff;
}

h1, h2, h3 {
  margin: 0 0 1em 0;
}

ul {
  list-style: none;
  padding: 0;
}

#drawCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

#wrapper {
  position: absolute;
  left: 0;
  top: 10%;
  right: 0;
}

.menu {
  display: none;
  min-width: 560px;
}

.menu,
#loading {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background: #363636;
  border-radius: 6px;
  border: solid 1px #fff;
  padding: 20px;
}

.back,
.left,
.right,
.continue,
.race-again {
  width: 40%;
  text-align: center;
  margin-top: 40px;
  background: #7d7d7d;
  border-radius: 6px;
  border: solid 1px #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 8px;
}

.back {
  float: left;
  margin-left: 30%;
}

.left,
.race-again,
.continue {
  float: left;
  margin-left: 5%;
}

.right {
  float: right;
  margin-right: 5%;
}

.menu table {
  border-collapse: collapse;
  width: 100%;
}

.menu table th,
.menu table td {
  width: 40%;
  padding: 3px 6px 6px 6px;
}

.menu table th {
  text-align: right;
}

.menu table td {
  text-align: left;
}

.menu table td.time {
  width: 20%;
  text-align: center;
  white-space: nowrap;
}

.menu table th.center,
.menu table td.center {
  text-align: center;
}

.menu table tr + tr th,
.menu table tr + tr td {
  border-top: solid 1px white;
}

#levels > div {
  overflow-y: auto;
  max-height: 400px;
}

#hiscore td.spacer {
  padding: 0;
  margin: 0;
  height: 8px;
}

#settings button {
  background: transparent;
  border: 0;
}

.logo {
  margin-top: -20px;
}
