html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Acme', sans-serif;
  font-size: 18px;
  overflow: hidden;
}

a {
  color: #fff;
}

h1, h2, h3 {
  margin: 0 0 1em 0;
}

ul {
  list-style: none;
  padding: 0;
}

#drawCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

#wrapper {
  position: absolute;
  left: 0;
  top: 10%;
  right: 0;
  height: 100%;
}

#wrapper-inner {
  max-height: 80%;
  overflow-y: auto;
  min-width: 560px;
  width: 50%;
  margin: 0 auto;
  padding: 0 20px;
}

.menu {
  display: none;
  min-width: 560px;
}

.menu,
#loading {
  text-align: center;
  background: #616161;
  border-radius: 6px;
  border: solid 1px #fff;
}

.menu >li > a{
  margin: 5px;
  padding: 5px;

}
.credits-table > tbody > tr > th{
  color: #ffffff;
  font-weight: normal;
}

.credits-table > tbody > tr > td{
  text-align: left;
  padding-left: 30px;
  color: #dbdbdb;
}

.back,
.left,
.right,
.continue,
.race-again,
.continue-editor {
  width: 40%;
  text-align: center;
  margin-top: 40px;
  background: #7d7d7d;
  border-radius: 6px;
  border: solid 1px #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 8px;
}

.back,
.continue-editor {
  float: left;
  margin-left: 30%;
}

.left,
.continue,
.race-again {
  float: left;
  margin-left: 5%;
}

.right {
  float: right;
  margin-right: 5%;
}

#gameOver .left,
#gameOver .continue,
#gameOver .race-again {
  width: 23%;
}

.menu table {
  border-collapse: collapse;
  max-width: 100%;
  margin: 0 auto;
}

.menu table th,
.menu table td {
  padding: 3px 6px 6px 6px;
  text-align: right;
}

.menu table td.time,
.menu table td.buttons {
  text-align: center;
  white-space: nowrap;
}

.menu table td.buttons {
  width: 175px;
}

.menu table td.time {
  width: 100px;
}

.menu table td.buttons button {
  width: 82px;
}

.menu table th.center,
.menu table td.center {
  text-align: center;
}

.menu table tr + tr th,
.menu table tr + tr td {
  border-top: solid 1px white;
}

#credits table th {
  width: 30%;
}

#credits table th,
#credits table td {
  vertical-align: top;
  padding-bottom: 1em;
}

#levels > div {
  overflow-y: auto;
  max-height: 400px;
}

#hiscore td.spacer {
  padding: 0;
  margin: 0;
  height: 8px;
}

#settings button {
  background: transparent;
  border: 0;
}

.logo {
  margin-top: 10px;
}
