html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: Verdana, sans-serif;
  overflow: hidden;
}

a {
  color: #fff;
}

h1, h2, h3 {
  margin: 0 0 1em 0;
}

ul {
  list-style: none;
  padding: 0;
}

#drawCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

#loading {
  height: 60px;
}

#wrapper {
  position: absolute;
  left: 0; top: 25%; right: 0;
}

.menu {
  display: none;
}

.menu,
#loading {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background: #363636;
  border-radius: 6px;
  border: solid 1px #fff;
  padding: 20px;
}

.back,
.continue,
.quit {
  width: 40%;
  text-align: center;
  margin-top: 40px;
  background: #7d7d7d;
  border-radius: 6px;
  border: solid 1px #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 8px;
}

.back {
  float: left;
  margin-left: 30%;
}

.continue {
  float: left;
  margin-left: 5%;
}

.quit {
  float: right;
  margin-right: 5%;
}

.menu table {
  border-collapse: collapse;
  width: 100%;
}

.menu table th,
.menu table td {
  width: 50%;
  padding: 3px 6px 6px 6px;
}

.menu table th {
  text-align: right;
}

.menu table td {
  text-align: left;
}

.menu table tr + tr th,
.menu table tr + tr td {
  border-top: solid 1px white;
}

#levels > div {
  overflow-y: auto;
  max-height: 400px;
}

#hiscore td.spacer {
  padding: 0;
  margin: 0;
  height: 8px;
}

#settings button {
  background: transparent;
  border: 0;
}

#logo {
  position:absolute; top:50%; left:50%; width:512px; height:256px;  
  margin-top:-128px; margin-left:-256px;
  background:url(../img/titlescreen.png); 
  animation:3s fade_out linear; 
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade_out { 
  0% { opacity:0; left:-512px; }
  20% { opacity:1; left:50%; }
  80% { opacity:1; left:50%; }
  100% { opacity:0; left:100%; }
}
